<div ng-controller="ProjectsController" class="eb_projects">
	<div class="eb_toolbar">
		<div class="searchbox">
			<input type="text" class="input-medium search-query" placeholder="Search projects..." ng-model="projectQuery">
		</div>
	</div>

    <!--
	<div class="eb_instructions">
		<div class="row-fluid">
			<div class="span6 instruction_left">
				<div class="rotate-1 rotated_container">
					<div class="postit company_instructions">
						<table style="margin-left:25px;">
							<tbody>
								<tr>
									<td rowspan="2" class="instruction_step">1.</td>
									<td>Select an interesting</td>
								</tr>
								<tr>
									<td>business below ...</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="rotate1 rotated_container">
					<div class="postit challenge_instructions">
						<table style="margin-left:15px;">
							<tbody>
								<tr>
									<td rowspan="2" class="instruction_step">2.</td>
									<td>Then solve its challenges</td>
								</tr>
								<tr>
									<td>to win <span class="reward_focus">rewards</span></td>
								</tr>
								<tr>
									<td colspan="2">and the <span class="fork_focus">right to fork </span>its model !</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<div class="row"  ng-repeat="rows in projectRows">
		<div class="span5" style="margin-bottom: 20px" ng-repeat="project in rows | filter: projectQuery">
			 <eb-project-card eb-object="rows[$index]"/>
		</div>
	</div>
	<div class="load_more text-center">
		<a href="">Discover more projects</a>
	</div>
</div>