<div ng-controller="ProjectDetailsController" class="eb_project_details">
	<ul class="thumbnails">
		<li class="span1">
			<a>Step 1</a>
			<a>Step 2</a>
			<a>Step 3</a>
			<a>Step 4</a>
		</li>
		<li class="span9">
			<div class="thumbnail content">
				<div class="body">
					<img ng-src="/app/img/{{project.id}}/photo-main.jpg" alt="project image">
					<h4><a href="#projects/{{project.id}}">{{project.name}}</a></h4>
					<p class="description">{{project.description}}</p>
					<p><i class="icon-briefcase"></i><em>&nbsp;{{project.company.name}}</em></p>
					<ul class="opportunities">Available opportunities:
						<li ng-repeat="opportunity in project.opportunities">{{opportunity.name}}</li>
					</ul>
				</div>
			</div>
		</li>

	</ul>
</div>
