<section ng-controller="UserSignupLoginController" class="login-form header_form">
	<div class="form-inline controls login_btn" ng-hide="authorisedOwner">
		<input type="email" placeholder="E-mail" class="input-small" ng-model="owner.username"/>
		<input type="password" placeholder="Password" class="input-small" ng-model="owner.password"/>
		<button class="btn btn-link" ng-click="login()">Login</button>
		<button class="btn btn-link" ng-click="signup()">Signup</button>
	</div>
	<span ng-hide="!authorisationFailed" class="text-error">{{authorisationFailed}}</span>
	<div class="btn-group form-inline controls login_btn" ng-show="authorisedOwner">
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			{{authorisedOwner.username}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a ng-click="logout()">Logout</a></li>
		</ul>
	</div>
</section>